Client {
  com.sun.security.auth.module.Krb5LoginModule required
  useKeyTab=true
  keyTab="{{solr_kerberos_keytab}}"
  storeKey=true
  useTicketCache=true
  debug=false
  principal="{{solr_kerberos_principal}}";
};
